@font-face {
    font-family: Montserrat;
    src: url("Typography/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root{
    --BackgroundColor: #1D1D1D;
    --ButtonBackground: #007381;
    --ButtonLockedBackground: #004952;
    --PrimaryTextColor: #FFFFFF;
    --ButtonTextColor:  #FFFFFF;
    --TextInputBackground: #161616;
}
body{
    background-color: var(--BackgroundColor);
}


button, .button{
    background: var(--ButtonBackground);
    border: none;
    border-radius: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    padding: 4px 20px; 
    display: inline-block;
    margin: 5px 20px;

    color: var(--ButtonTextColor)
}
.lockedbutton {
    background-color: var(--ButtonLockedBackground);
    
}
h1, h2, h3, h4, h5, h6, p, span, a, label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /* identical to box height */
color: var(--PrimaryTextColor);

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--ButtonBackground);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ButtonBackground);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=numeric]{
  border-radius: 24px;
  border: none;
  color: var(--PrimaryTextColor);
  padding: 10px 25px;
  background-color: var(--TextInputBackground);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  outline: none;

}